body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/*сбрасывает установленные стили*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.header,
.main,
.footer {
  background-color: #e1e1e1;

  max-width: 534px;

  display: flex;
  justify-content: center;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main_section {
  display: flex;
  flex-wrap: wrap;
}

.main_child {
  display: flex;
}

.left {
  background-color: #fff8e4;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  max-width: 345px;
}

#header_left,
aside h2,
.section3 {
  text-align: center;
}

#header_left {
  padding: 10px 100px 60px 100px;
}

.main_section section {
  background-color: #feebba;

  padding: 10px 60px;
  margin: 3px 5px;
}

.section1 {
  flex-grow: 1;
}

.section3 {
  flex-grow: 2;
}

.right {
  background-color: #deedcc;

  padding: 10px 40px 200px 40px;
  max-width: 189px;
}

.footer_section {
  background-color: #fafafa;

  padding: 15px 5px;
  margin: 5px;
}

.foot {
  display: flex;
  flex-direction: row;
}
