/*сбрасывает установленные стили*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.header,
.main,
.footer {
  background-color: #e1e1e1;
}

.left {
  background-color: #fff8e4;
}

.main_section section {
  background-color: #feebba;
}

.right {
  background-color: #deedcc;
}

.footer_section {
  background-color: #fafafa;
}
